html {
	height: 100%;
}

h1 {
	text-align: center;
	margin: 20px 10px;
}
#calculator {
	width: 325px;
	height: auto;
	margin: 100px auto;
	padding: 20px 20px 9px;
}

/* Clear floats because they don't fit in the area. More information https://www.w3schools.com/css/css_overflow.asp*/
.buttons, .top {overflow: hidden;}

.buttons span, .top span.clear {
	float: left;
	width: 66px;
	height: 36px;
	background: grey;
	margin: 0 7px 11px 0;
	line-height: 36px;
	text-align: center;
}

.buttons span.operator {
	background: red;
	margin-right: 0;
}

.buttons span.eval {
	background: yellow;
}

.top span.clear {
	background: green;
	color: white;
}